<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.3.4 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96cf9e44fbbdcffd87c2ad62e883c948:e513c31d9c5785b5b47051681d3d570c:31646c62c177bd3b9a3bf1d10289e5e0$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>Sprites.1.png</string>
                <key>size</key>
                <string>{453,124}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>gameover.png</string>
                        <key>spriteOffset</key>
                        <string>{3,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{225,41}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{217,33}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>castle.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{64,138}</string>
                        <key>textureRect</key>
                        <string>{{1,36},{138,64}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>loadTitle.png</string>
                        <key>spriteOffset</key>
                        <string>{2,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{177,26}</string>
                        <key>textureRect</key>
                        <string>{{220,1},{173,22}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>endingtext.png</string>
                        <key>spriteOffset</key>
                        <string>{1,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{126,19}</string>
                        <key>textureRect</key>
                        <string>{{1,102},{122,19}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>rubble.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,54}</string>
                        <key>textureRect</key>
                        <string>{{141,36},{72,44}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>speedingup.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{93,12}</string>
                        <key>textureRect</key>
                        <string>{{220,25},{93,12}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Explosion/Explosion3.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{38,41}</string>
                        <key>textureRect</key>
                        <string>{{141,82},{38,41}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Explosion/Explosion2.png</string>
                        <key>spriteOffset</key>
                        <string>{3,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{38,41}</string>
                        <key>textureRect</key>
                        <string>{{181,82},{34,41}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Doublekill.png</string>
                        <key>spriteOffset</key>
                        <string>{1,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{82,14}</string>
                        <key>textureRect</key>
                        <string>{{315,25},{80,12}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Quadrakill.png</string>
                        <key>spriteOffset</key>
                        <string>{1,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{81,12}</string>
                        <key>textureRect</key>
                        <string>{{215,39},{79,12}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Triplekill.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{76,12}</string>
                        <key>textureRect</key>
                        <string>{{215,53},{76,12}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Pentakill.png</string>
                        <key>spriteOffset</key>
                        <string>{1,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,12}</string>
                        <key>textureRect</key>
                        <string>{{296,39},{70,12}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>newHighScore.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{74,8}</string>
                        <key>textureRect</key>
                        <string>{{215,67},{74,8}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultrakill.png</string>
                        <key>spriteOffset</key>
                        <string>{1,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,13}</string>
                        <key>textureRect</key>
                        <string>{{293,53},{70,11}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Enemy/stickfigure7.png</string>
                        <key>spriteOffset</key>
                        <string>{2,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{24,52}</string>
                        <key>textureRect</key>
                        <string>{{395,1},{52,22}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bombMan.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{50,29}</string>
                        <key>textureRect</key>
                        <string>{{217,77},{50,29}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Enemy/stickfigure6.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{15,56}</string>
                        <key>textureRect</key>
                        <string>{{217,108},{54,15}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>megakill.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{65,13}</string>
                        <key>textureRect</key>
                        <string>{{293,66},{65,13}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Enemy/stickfigure1.png</string>
                        <key>spriteOffset</key>
                        <string>{3,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{18,57}</string>
                        <key>textureRect</key>
                        <string>{{397,25},{53,14}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>holyshit.png</string>
                        <key>spriteOffset</key>
                        <string>{1,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{65,12}</string>
                        <key>textureRect</key>
                        <string>{{269,81},{63,12}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Hexakill.png</string>
                        <key>spriteOffset</key>
                        <string>{1,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{65,13}</string>
                        <key>textureRect</key>
                        <string>{{269,95},{63,11}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Enemy/stickfigure4.png</string>
                        <key>spriteOffset</key>
                        <string>{0,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{15,54}</string>
                        <key>textureRect</key>
                        <string>{{273,108},{52,15}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Explosion/Explosion1.png</string>
                        <key>spriteOffset</key>
                        <string>{6,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{38,41}</string>
                        <key>textureRect</key>
                        <string>{{334,81},{26,25}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Enemy/stickfigure5.png</string>
                        <key>spriteOffset</key>
                        <string>{1,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{18,55}</string>
                        <key>textureRect</key>
                        <string>{{327,108},{51,14}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Explosion/Explosion5.png</string>
                        <key>spriteOffset</key>
                        <string>{5,12}</string>
                        <key>spriteSourceSize</key>
                        <string>{38,41}</string>
                        <key>textureRect</key>
                        <string>{{368,39},{23,30}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Enemy/stickfigure2.png</string>
                        <key>spriteOffset</key>
                        <string>{0,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{18,60}</string>
                        <key>textureRect</key>
                        <string>{{393,41},{52,18}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Enemy/stickfigure3.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{20,54}</string>
                        <key>textureRect</key>
                        <string>{{393,61},{52,16}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Explosion/Explosion4.png</string>
                        <key>spriteOffset</key>
                        <string>{3,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{38,41}</string>
                        <key>textureRect</key>
                        <string>{{362,71},{29,34}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>target.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{30,30}</string>
                        <key>textureRect</key>
                        <string>{{393,79},{30,30}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bomb.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{18,18}</string>
                        <key>textureRect</key>
                        <string>{{425,79},{16,16}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
